.main {
  /* width: min(95%, 1110px);
  margin: 0 auto; */
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 200px; */
}
/* 
@media screen and (max-width: 768px) {
  .main {
    max-width: 689px;
  }
}

@media screen and (max-width: 570px) {
  .main {
    margin: 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    margin: 0;
  }
} */
