.main {
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 689px;
  }
}

@media screen and (max-width: 570px) {
  .main {
    margin: 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .main {
    margin: 0;
  }
}
