.header {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 67px;
}

.request-beta_secondary {
  font-size: var(--fs-heading-base);
  line-height: 2;
  font-weight: var(--fw-bold);
  color: var(--clr-dark-blue);
  padding: 11px 23px;
  border: 1px solid var(--clr-dark-blue);
  border-radius: 6px;
  background-color: transparent;
  letter-spacing: -0.16px;
  transition: 0.3s ease;
}

.request-beta_secondary:hover {
  transition: 0.3s ease;
  color: var(--clr-cream-white);
  background-color: var(--clr-dark-blue);
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 689px;
  }
}

@media screen and (max-width: 570px) {
  .header {
    max-width: 689px;
    margin: 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-bottom: 56px;
  }
}
