.footer {
  background-color: var(--clr-cream);
  /* height: 464px;
  margin-top: -275px; */
  z-index: 0;
  /* position: relative; */
  padding-top: 22.5rem;
  display: flex;
}

.footer__container {
  max-width: 1100px;
  width: 100%;
  align-self: flex-end;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  padding-bottom: 72px;
  padding-top: 90px;
}

.footer__logo {
  width: 81px;
}

.footer__copyright {
  font-size: var(--fs-small);
  color: var(--clr-gray);
  line-height: 2;
  letter-spacing: 0.08px;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  gap: 28px;
}

.social-icon__button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--clr-dark-blue);
}
.social-icon__button:hover {
  transition: 0.2s ease;
  opacity: 0.5;
}

.social-icon {
  fill: currentColor;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 650px;
    margin-top: -475px;
  }

  .footer__container {
    max-width: 689px;
    padding-top: 72px;
  }
}

@media screen and (max-width: 570px) {
  .footer__container {
    margin: 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    height: 350px;
    margin-top: -60px;
  }

  .footer__container {
    flex-direction: column;
    gap: 33px;
    margin: 0 16px;
  }
}
